.env
venv/
automatizacion/outputs/cache/
automatizacion/outputs/logs/
automatizacion/outputs/reports/
automatizacion/outputs/screenshots/*
automatizacion/outputs/tracker.db
__pycache__/
*.pyc
*.mp4
automatizacion/outputs/tracker.db
automatizacion/outputs/tracker.db
automatizacion/outputs/logs/automation.log
automatizacion/outputs/session/
Datos 2 TK 813690.xlsx
