LOGIN_USERNAME=tu_usuario
LOGIN_PASSWORD=tu_password
LOGIN_URL=https://tu-sitio-web.com

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=euroturbot
DB_USERNAME=postgres
DB_PASSWORD=supersecret
